* {
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
  /*background-color: #FFFBF6;*/
  background-color: #FFFBF6;
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: #333;
}

h1, h2{
  font-weight: 400;
  margin: 0 0 1rem 0;
}

h1{
 color: tomato;
 text-align: center;
 margin-bottom: 3rem; 
}

h2{
  color: tomato;
}

p{
  margin: 0 0 1rem 0;
}

main{
  margin: 4rem 2rem 2rem 2rem;
}

.pricing-container{
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  max-width: 768px;
  margin: 0 auto;
}

.pricing-card{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 0 0 200px;
  border: 2px solid black;
  background-color: #fff;
  padding: 2rem;
  border-radius: .5rem;
}

.basic-plan{
  order: 0;
}

.pro-plan{
  order: 1;
  flex-grow: 2;
}

.premium-plan{
  order: 2;
}