:root{
	--morado: #75297F;
	--morado-oscuro: #5B2467;
	--rojo-naranja-claro: #F37769;	
	--rojo-naranja: #F1562F;
	--crema: #F3F0E4;
	--hueso: #FFFCF2;
	--texto: #333333;
}

* {
	box-sizing: border-box;
}

::selection, -moz-selection {
  color: var(--morado);
  background: var(--rojo-naranja-claro);
}

body{
	font-family: "Gabarito", sans-serif;
	font-optical-sizing: auto;
	font-style: normal;
	margin: 0;
	font-size: 1rem;
	background-color: var(--crema);
	color: var(--texto);
	overflow-x: hidden;
}

h1, h2, h3{
	font-family: "Ultra", serif;
	font-weight: 400;
  font-style: normal;
  margin: 0;
  line-height: 112%;	
}

.xl{
	/*font-size: 3.25rem; */
	font-size: 2.569rem;  /* responsive */
}

h2{
	font-size: 1.8rem;
}

#header{
	position: sticky;
	top: 0;
	padding: 0.75rem 2rem;
	background-color: var(--morado-oscuro);
	color: var(--rojo-naranja-claro);
	margin: 0;
	z-index: 10;
}
 
#header-img{
	width: 4rem;
}

.nav{
	/*display: flex;*/
	/*justify-content: space-between;*/
	max-width: 1440px;
	margin: 0 auto;
	text-align: center; /* responsive */
	display: inherit; /* responsive */	
}

#nav-bar{
	/*display: flex;*/
	display: inherit; /* responsive */	
}

#nav-bar ul{
	margin: 0;
	padding: 0;
	/*align-self: center;*/
}

#nav-bar li{
	list-style: none;
	/*display: inline-block;*/
	/*margin-right: 2rem;*/
	display: block; /* responsive */
	margin: 0 auto;
}

#nav-bar li:last-child{
	margin-right: 0;
}

#nav-bar a{
	color: var(--rojo-naranja-claro);
	text-decoration: none;
	font-weight: 600;
}

#nav-bar a:hover{
	color: var(--crema);
}

#heading{
	/*padding: 6rem 9.25rem;*/
	max-width: 1440px;
	margin: 0 auto;
	padding: 2rem 1rem 3rem 1rem; /* responsive */
	word-break: break-word;
}

#heading h1{
	color: var(--morado);
	margin-bottom: 2rem;
}

#form h2{
	color: var(--morado);
	margin-bottom: 1rem;
}

input[type="email"]{
	background-color: var(--hueso);
	border-color: transparent;
	font-size: 1rem;
	border-radius: 12px;
	padding: 1rem 0.75rem;
	margin-right: 1rem;
	/*width: 45%;*/
	width: 100%; /* responsive */
	margin-bottom: 1rem; /* responsive */
}

.button{
	border-color: transparent;
	border-radius: 12px;
	font-weight: 600;
	cursor: pointer;
}

.mid{
	font-size: 1rem;
	padding: 1rem 1.5rem;
}

#form .button{
	color: var(--hueso);
	background-color: var(--morado);
}

#form .button:hover{
	background-color: var(--rojo-naranja);
}

#Caracteristicas{
	background-color: var(--rojo-naranja);
}

.features{
	margin: 0 auto;
	max-width: 1092px;
	display: flex;
	gap: 3rem;
	padding: 4rem 0;
	flex-direction: column; /* responsive */
}

.feature{
	width: 30%;
	text-align: center;
	color: var(--crema);
	width: inherit; /* responsive */
	padding: 0 1rem; /* responsive */
}

.feature h2{
	margin-bottom: .5rem;
}

.feature p{
	margin: 0 1rem 0 0;
}

.feature .icon{
	background-color: var(--rojo-naranja-claro);
	width: 12.75rem;
	height: 12.75rem;
	margin: 0 auto 1rem auto;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.deli img{
	position: relative;
	top: .75rem;
	z-index: 0;
}

#Experiencia{
	background-color: var(--morado-oscuro);
	/*padding: 4rem 0;*/
	padding: 0; /* responsive */
}

#video{
	display: block;
	margin: 0 auto;
	width: 100%;
	max-width: 1092px;
}

#Precios{
	background-color: var(--morado);
	/*padding: 4rem 0;*/
	padding: 2rem 0 1rem 0; /* responsive */
}

.prices{
	max-width: 1376px;
	margin: 0 auto;
	display: flex;
	justify-content: space-evenly;
	align-items: flex-start;
	flex-direction: column; /* responsive */
	padding: 0 1rem;
}

.price{
	/*width: 30%;*/
	background-color: var(--crema);
	border-radius: 12px;
	text-align: center;
	padding-bottom: 2rem;
	width: 100%; /* responsive */
	margin-bottom: 2rem; /* responsive */
}

.price h2{
	background-color: var(--morado-oscuro);
	color: var(--crema);
	padding: 1.5rem 1rem;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	margin-bottom: 1rem;
}

.price .xl{
	color: var(--rojo-naranja);
	padding: 0 1rem;
	margin-bottom: .75rem;
}

.price p{
	margin: 0 0 1rem 0;
	padding: 0 1rem;
}

.price .button{
	color: var(--crema);
	background-color: var(--rojo-naranja);
}

.price .button:hover{
	background-color: var(--morado);
}

footer{
	background-color: var(--morado-oscuro);
	text-align: center; 
	padding: 4rem 1rem;
	color: var(--hueso);
}

footer ul, footer p{
	margin: 0;
	padding: 0;
}

footer ul{
	margin-bottom: 1.5rem;
}

footer li{
	/*display: inline;*/
	/*margin-right: 2rem;*/
	list-style: none;
	display: block; /* responsive */
	margin-bottom: 1rem; /* responsive */
}

footer li:last-child{
	margin-right: 0;
}

footer li a{
	color: var(--rojo-naranja-claro);
}

footer li a:hover{
	color: var(--hueso);
}

@media only screen and (min-width: 720px){
	.xl{
		font-size: 3.25rem;
	}
	.nav{
		display: flex;
		justify-content: space-between;
	}
	#nav-bar{
		display: flex;
	}
	#nav-bar ul{
		align-self: center;
	}
	#nav-bar li{
		display: inline-block;
		margin-right: 2rem;
	}
}

@media only screen and (min-width: 1440px){
	#heading{
		padding: 6rem 9.25rem;
	}
	input[type="email"]{
		width: 45%;
		margin-bottom: 0;
	}
	.features{
		flex-direction: row;
	}	 	
	.feature{
		padding: 0;
		width: 30%;
	}
	#Experiencia{
		padding: 4rem 0;
	}
	#Precios{
		padding: 4rem 0;
	}
	.prices{
		flex-direction: row;
	}
	.price{
		width: 30%;
		margin-bottom: 0;
	}
	footer li{
		display: inline;
		margin-right: 2rem;
	}
}
