* {
  box-sizing: border-box;
}

body{
  color: #333;
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  background-color: #f4f4f4;
}

header{
  text-align: center;
  margin: 5rem 0 3rem 0;
}

.color-grid{
  display: grid;
  column-gap: 2rem;
  row-gap: 2rem;
  grid-template-columns: repeat(5, 1fr);
  padding: 0 2rem;
  /*background-color: mintcream;*/
  width: 80vw;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.color-box{
  width: 100%;
  height: 10rem;
  background-color: #fff;
  border-radius: .5rem;
}

.color1{
  background-color: #6A4F66;
}

.color2{
  background-color: rgb(87,129,126);
}

.color3{
  background-color: wheat;
}

.color4{
  background-color: hsl(13, 97%, 73%);
}

.color5{
  background-color: #DB4F71;
}

.color6{
  background-color: #FF57B2;
}

.color7{
  background-color: #FF5788;
}

.color8{
  background-color: #FF575C;
}

.color9{
  background-color: #FF7B57;
}

.color10{
  background-color: #252930;
}