:root{
	--text: #333333;
	--cream: #F1F0EB;
	--bright: #FFFFFF;
	--active: #FE6960;
	--serif: "EB Garamond", serif;
	--sans-serif: "Jost", sans-serif;
}

* {
	box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body{
	background-color: var(--cream);
	color: var(--text);
	font-family: var(--serif);
	font-optical-sizing: auto;
	font-style: normal;
	margin: 0;
}

a, a:visited{
	color: var(--text);
}

a:hover{
	color: var(--active);
}

ul{
	margin: 0;
	padding: 0;
	list-style: none;
}

h1, h2, h3{
	margin: 0;
}

h1, h3{
	font-weight: 400;
}

h1{
	font-size: 4.113rem;
	line-height: 112%;
}

h2, nav{
	font-family: var(--sans-serif);
	font-weight: 600;
}

header{
	position: sticky;
	top: 0;
}

nav{
	background-color: var(--bright);
	text-align: center;
	padding: 1rem 0;
}

nav li{
	display: inline-block;
	margin-right: 2rem;
}

nav li:last-child{
	margin-right: 0;
}

nav a{
	text-decoration: none;
	text-transform: uppercase;
	font-size: 0.888rem;
	letter-spacing: 32%;
	color: var(--text);
}

#welcome-section{
	height: 100vh;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: -4rem;
}

#welcome-section h1{
	max-width: 57rem;
}

#projects{
	text-align: center;
	max-width: 1440px;
	margin: 0 auto 8rem auto;
	padding: 0 2rem;
}

#projects h2{
	text-transform: uppercase;
	font-size: 1.125rem;
	letter-spacing: 32%;
	margin-bottom: 2rem;
}

figure{
	margin: 0;
}

figure img{
	width: 100%;
	margin-bottom: .5rem;
}

figcaption{
	font-size: 1.8rem;
}

.portfolio ul{
/*	display: flex;
	gap: 2.5rem 2rem;
	flex-wrap: wrap;*/
	display: grid;
	column-gap: 2rem;
	row-gap: 2.5rem;
	grid-template-columns: 1fr 1fr;
}

.portfolio li{
	/*width: 48.8%*/
}

.portfolio-item a{
	text-decoration: none;
}

footer{
	background-color: var(--bright);
	max-width: 1376px;
	margin: 0 auto;
	border-radius: 2rem;
	text-align: center;
	padding: 4rem;
	margin-bottom: 4rem;
}

footer p{
	font-size: 3.25rem;


}
