<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ site.title }}</title>
  <!-- Normalize -->
  <link rel="stylesheet" href="{{"assets/css/normalize.css" | relative_url }}">
  <!-- Custom styles -->
  <link rel="stylesheet" href="{{"assets/css/main.css" | relative_url }}">
  <link rel="stylesheet" href="{{"assets/css/media-queries.css" | relative_url }}">
  <!-- Icomoon -->
  <link rel="stylesheet" href="{{"assets/css/icomoon.css" | relative_url }}" media="print" onload="this.media='all'">
  <!-- Noscript fallback -->
  <noscript>
    <link rel="stylesheet" href="{{ "/assets/css/icomoon.css" | relative_url }}">
  </noscript>
</head>  