* {
  box-sizing: border-box;
}

:root{
	--text: #333;
	--background: #FFFBF6;
}

html{
  scroll-behavior: smooth;
  background-color: var(--background);
}

body{
	font-family: "EB Garamond", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: var(--text);
}

h1, h2, h3{
	margin: 0;
	line-height: 112%;
	font-weight: 600;
}

h1{
	margin-bottom: 1.5rem;
	font-size: 2.566rem;
}

h2{
	margin-bottom: 1.25rem;
	font-size: 2.027rem;
}

h3{
	margin-bottom: 1rem;
	font-size: 1.602rem;
}

p{
	line-height: 138%;
	font-size: 1.25rem;
}

.small-article1 p, .small-article2 p, .small-article3 p{
	font-size: 1.12rem;
}

.newspaper-layout{
	max-width: 1036px;
	margin: 2rem auto;
	display: grid;
	grid-template-rows: auto repeat(1, 1fr);
	grid-template-areas: 
		'title title title'
		'feature-article feature-article cover-image'
		'secondary-article secondary-article cover-image'
		'small-article1 small-article2 small-article3';
	grid-gap: 1.25rem;	
}

.title{
	grid-area: title;
	margin: 0 0 2.25rem 0;
	border-bottom: 2px solid var(--text);
	border-top: 2px solid var(--text);
	text-align: center;
}

.title h1{
	margin: 2rem 0;
	text-transform: uppercase;
	letter-spacing: .3rem;
	font-weight: 500;
}

.feature-article, .secondary-article{
	padding-bottom: 1rem;
}

.feature-article{
	grid-area: feature-article;
}

.secondary-article{
	grid-area: secondary-article;
}

.cover-image{
	grid-area: cover-image;
}

.small-article1{
	grid-area: small-article1;
}

.small-article2{
	grid-area: small-article2;
}

.small-article3{
	grid-area: small-article3;
}

.cover-image{
	width: 100%;
	margin: 0
}

.cover-image img{
	max-width: 100%;
	height: auto;
}