* {
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
  background-color: linen;
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: #333;
  background-image: url(../../images/eggshell.jpg);
}

body{

}

#playing-cards{
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  row-gap: 20px;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card{
  width: 20.75rem;
  height: 31.063rem;
  background-color: white;
  padding: .75rem 1.5rem;
  display: flex;
  justify-content: space-between;
  font-size: 3rem;
  text-align: center;
  line-height: 106%;
  border-radius: .75rem;
  box-shadow: 4px 4px 11px -3px rgba(73,71,15,0.22);
}

.left{
  align-self: flex-start;
}

.middle{
  align-self: center;
}

.right{
  align-self: flex-end;
  transform: rotate(180deg);
}

.heart, .diamond{
  color: tomato;
}

.a .middle{
  font-size: 10rem;
  margin-top: -1.5rem;
}

.number .middle{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 6rem;
}

.suits{
  display: flex;
  gap: 4rem;
}

.four .middle{
  row-gap: 4rem;
}
