/* Sm screens */

@media screen and (min-width: 641px){
  .full-width, .boxed-width{
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
  /* Display Hidden */
  .hidden-sm{
    display: none;
  }
  .visible-sm{
    display: inherit;
  }
  /* Typography styles post */
  main .paragraphs-container{
    margin-bottom: 4rem;
  }
  .headings-container{
    margin-bottom: 4rem;
  }
  .headings-container, .paragraphs-container{
    columns: 2;
    gap: 1.5rem;
  }
  /* Typography styles post end */

  /* Colors, buttons, images and icons post */
  .colors-container, 
  .buttons-container, 
  .links-container, 
  .arrow-links-container,
  .images-container, 
  .icons-container{
    gap: 1.5rem;
  }
  .colors-container, .icons-container{
    grid-template-columns: repeat(5, 1fr);
  }
  .buttons-container, .links-container, 
  .arrow-links-container, 
  .images-container{
    grid-template-columns: repeat(3, 1fr);
  }
  /* Colors, buttons, images and icons post end*/
}

/* L screens */

@media screen and (min-width: 1025px) {
  :root{
    --h6: 1.125rem;
    --h5: 1.263rem;
    --h4: 1.419rem;
    --h3: 1.8rem;
    --h2: 2.025rem;
    --h1: 2.281rem;
    --h-l: 2.563rem;
    --h-xl: 2.875rem;
    --h-xxl: 3.25rem;
  }
  /* Display Hidden */
  .hidden-l{
    display: none;
  }
  .visible-l{
    display: inherit;
  }
  .full-width{
    padding-left: 2rem;
    padding-right: 2rem;
  }
  /* Typography styles post */
  .headings-container, .paragraphs-container{
    gap: 2rem;
  }
  .paragraphs-container{
    columns: 3;
  }
  /* Typography styles post end */

  /* Colors, buttons, images and icons post */
  .buttons-container, 
  .links-container, 
  .arrow-links-container,
  .images-container, 
  .icons-container{
    gap: 2rem;
  }
  .colors-container, .icons-container{
    grid-template-columns: repeat(12, 1fr);
    align-items: start;
  }
  .buttons-container, .links-container, .arrow-links-container{
    grid-template-columns: repeat(6, 1fr);
  }
  .images-container{
    grid-template-columns: repeat(4, 1fr);
  }
  /* Colors, buttons, images and icons post end*/
}
