* {
	box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
  background-color: rosybrown;
  font-family: Arial, sans-serif;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  height:96vh;
}

.business-card{
  width: 300px;
  background-color: #E9E6E0;
  padding: 20px;
  margin-top: 100px;
  border-radius: .5rem;
  text-align: center;
  font-size: 16px;
}

figure{
  padding: 0;
  margin: 0;
}

.profile-image{
  margin: 100%;
}

p{
  margin-bottom: 5px;
}
