* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  height:80vh;
  background-color: rosybrown;
  color: #333;
  font-family: Arial, sans-serif;
}

.business-card{
  width: 300px;
  background-color: #E9E6E0;
  padding: 20px;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  border-radius: .5rem;
  text-align: center;
  font-size: 16px;
}

figure{
  padding: 0;
  margin: 0;
}

.profile-image{
  max-width: 100%;
}

p{
  margin-top: 5px;
  margin-bottom: 5px;
}

a{
  text-decoration: none;
  color: #E46363;
}

a:visited{
  color: #049FD2;
}

a:hover{
  color: #333;
}

.full-name{
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 3px;
}

.designation{
  margin-top: 0px;
  margin-bottom: 2px
}

.company{
  margin-top: 0px;
  font-size: .9rem;
}

hr{
  border: 1px solid #C4C1BB;
}

h2{
  margin: 1rem 0 .5rem 0;
}

.social-media h2 ~ a{
  margin-right: .25rem;
}

.social-media h2 ~ a:last-child{
  margin-right: 0;
}