* {
  box-sizing: border-box;
}

:root{
  --text: #333;
  --background: #FFFBF6;
  --color0: #F5F0FF;
  --color1: #E9DEFF;
  --color2: #CDB2FF;
  --color3: #F5F0FF;
  --color4: #A069FF;
  --color5: #7F31FF;
  --solid-border: 2px solid var(--text);
  --dashed-border: 2px dashed var(--text);
}

body{
  font-family: "Gabarito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: var(--text);
  background-color: var(--background);
}

header{
  text-align: center;
  margin-bottom: 2rem;
}

table{
  margin: 0 auto 2rem auto;
  border-collapse: collapse;
}

td{
  height: 2.5rem;
}

.available-0{
  background-color: var(--color0);
}

.available-1{
  background-color: var(--color1);
}

.available-2{
  background-color: var(--color2);
}

.available-3{
  background-color: var(--color3);
}

.available-4{
  background-color: var(--color4);
}

.available-5{
  background-color: var(--color5);
}

.half td{
  border-bottom: var(--dashed-border);
}

.sharp td{
  border-bottom: var(--solid-border);
}

#legend{
  display: block;
  width: 600px;
  margin: 0 auto;
  text-align: center;
}

#legend span{
  font-size: 1.125rem;
  display: block;
  margin-bottom: .75rem;
  font-weight: 600;
}

#legend p, #legend-gradient{
  display: inline-block;
  vertical-align: middle;
  font-weight: 600;
}

/*#legend-gradient{
  background-image: linear-gradient(to right, var(--color0) 0% calc(100% / 6), 
    var(--color1) calc(100% / 6) calc(100% / 6 * 2),
    var(--color2) calc(100% / 6 * 2) calc(100% / 6 * 3),
    var(--color3) calc(100% / 6 * 3) calc(100% / 6 * 4),
    var(--color4) calc(100% / 6 * 4) calc(100% / 6 * 5),
    var(--color5) calc(100% / 6 * 5) 100%
  );
  width: 12rem;
  height: 2rem;
  margin: 0 auto;
}*/

#legend-gradient{
  background-image: linear-gradient(to right, var(--color0) 0% 16.666%, 
    var(--color1) 16.666% 33.333%,
    var(--color2) 33.333% 50%,
    var(--color3) 50% 66.666%,
    var(--color4) 66.666% 83.333%,
    var(--color5) 83.333% 100%
  );
  width: 12rem;
  height: 2rem;
  margin: 0 1rem;
}


.time{
  padding: 0 1rem 0 0;
  position: relative;
  top: 2.25rem;
  text-align: right;
}

.theader th:not([class*="time"]){
  padding: 0 1rem .75rem 1rem;
}

