* {
  box-sizing: border-box;
}

body{
  color: #333;
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  padding: 2rem 3rem;
  width: calc(100% - 4rem);
  background-color: #F2F2F0;
}

h1, h2{
  color: #7D01BB;
}
