* {
  box-sizing: border-box;
}

body{
  color: #333;
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  padding: 50px 3rem;
  width: calc(100% - 100px);
  background-color: #F2F2F0;
  margin: 0 auto;
}

header{
  width: 70%;
  margin: 0 auto;
  text-align: center;
}

header p{
  font-size: 1.2rem;
  margin-bottom: 3rem;
}

figure{
  margin: 0;
}

img{
  width: 100%;
  height: auto;
}

h1, h2{
  color: #7D01BB;
}

h1{
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

main{
  width: 70%;
  margin: 0 auto;
}

hr{
  width: 50%;
  border: #B7B5AE solid .5px;
}

main section{
  display: inline-block;
  width: calc(49.8% - 1rem);
  margin: 0 2rem 2rem 0;
}

.last{
  margin-right: 0;
}
