<!DOCTYPE html>
<html lang="en">
{% include head.html %}
</html>
<body>
  <header class="full-width ux-library-header">
    <h1 class="h-xxl">{{ page.heading | markdownify | remove: '<p>' | remove: '</p>' }}</h1>
  </header>
  <main class="full-width">
    <!-- Colors -->
    <h2>{{ page.colors-heading }}</h2>
    <div class="colors-container">
      {% for color in site.colors %}
      <article>
        <h3 class="article-heading">{{ color.heading }}</h3>
        <div class="color-circle {{ color.color }}"></div>
      </article> 
      {% endfor %}
    </div>
    <!-- Buttons and links -->
    <h2>{{ page.buttons-and-links-heading }}</h2>
    <div class="buttons-container">
      {% for button in site.buttons %}
      <article>
        <h3 class="article-heading">{{ button.heading }}</h3>
        <div class="button-container">
          <button class="{{ button.button-size }}" type="submit">{{ page.button-text }}</button>
        </div>  
      </article>
      {% endfor %}     
    </div>
    <div class="links-container">
      {% for link in site.links %}
        <article>
          <h3 class="article-heading">{{ link.heading }}</h3>
          <div class="link-container">
            <a href="#" class="{{ link.link-size }}">{{ link.link-text }}</a>
          </div>  
        </article>  
      {% endfor %}
    </div>
    <div class="arrow-links-container">
      {% for arrow-link in site.arrow-links %}
        <article>
          <h3 class="article-heading">{{ arrow-link.heading }}</h3>
          <div class="arrow-link-container">
            <a href="#" class="arrow-link {{ arrow-link.link-size }}">{{ arrow-link.link-text }}<span class="icon {{ arrow-link.icon }}"></span></a>
          </div>  
        </article>  
      {% endfor %}
    </div>
    <!-- Icons -->
    <h2>{{ page.icons-heading }}</h2>
    <div class="icons-container">
      {% for icon in site.icons %}
      <article>
        <div class="icon-container">
          <span class="icon {{ icon.icon }}"></span>
        </div>  
      </article>
      {% endfor %}     
    </div>
  </main>  
<body>  