<!DOCTYPE html>
<html lang="en">
{% include head.html %}
</html>
<body>
  <header class="full-width ux-library-header">
    <h1 class="h-xxl">{{ page.heading | markdownify | remove: '<p>' | remove: '</p>' }}</h1>
  </header>
  <main class="full-width">
    <h2>{{ page.colors-heading }}</h2>
    <div class="colors-container">
      {% for color in site.colors %}
      <article>
        <h6>{{ color.heading }}</h6>
        <div class="color-circle {{ color.color }}"></div>
      </article> 
      {% endfor %}
    </div>
    <h2>{{ page.buttons-and-links-heading }}</h2>
    <div class="buttons-container">
      {% for button in site.buttons %}
      <article>
        <h6>{{ button.heading }}</h6>
        <div class="button-container">
          <button class="{{ button.button-size }}" type="submit">{{ page.button-text }}</button>
        </div>  
      </article>
      {% endfor %}     
    </div>
    <div class="links-container">
      {% for button in site.buttons %}
        <article>
          <div class="link-container">
            <a class="link"></a>
          </div>  
        </article>  
      {% endfor %}
    </div>   
  </main>  
<body>  