<!DOCTYPE html>
<html lang="en">
{% include head.html %}
</html>
<body>
  <header class="full-width ux-library-header">
    <h1 class="h-xxl">{{ page.heading | markdownify | remove: '<p>' | remove: '</p>' }}</h1>
  </header>
  <main class="full-width">
    <!-- Colors Data -->
    <h2>{{ page.colors-heading }}</h2>
    <div class="colors-container">
      {% for item in site.data.colors %}
      <article>
        <div class="color-circle {{ item.color }}"></div>
        <p class="p-xs">{{ item.text }}</p> 
      </article> 
      {% endfor %}
    </div>
    <!-- Buttons and links -->
    <h2>{{ page.buttons-and-links-heading }}</h2>
    <div class="buttons-container">
      <!-- Buttons Data -->
      {% for item in site.data.buttons %}
      <article>
        <div class="button-container">
          <button class="{{ item.button-size }}" type="submit">{{ page.button-text }}</button>
        </div>
        <p class="p-xs">{{ item.text }}</p>   
      </article>
      {% endfor %}     
    </div>
    <div class="links-container">
      <!-- Links Data -->
      {% for item in site.data.links %}
        <article>
          <div class="link-container">
            <a href="#" class="{{ item.link-size }}">{{ item.link-text }}</a>
          </div>
          <p class="p-xs">{{ item.text }}</p>  
        </article>  
      {% endfor %}
    </div>
    <div class="arrow-links-container">
      <!-- Links Arrow Data -->
      {% for item in site.data.arrow-links %}
        <article>
          <div class="arrow-link-container">
            <a href="#" class="arrow-link {{ item.link-size }}">{{ item.link-text }}<span class="icon {{ item.icon }}"></span></a>
          </div> 
          <p class="p-xs">{{ item.text }}</p> 
        </article>  
      {% endfor %}
    </div>
    <!-- Icons Data -->
    <h2>{{ page.icons-heading }}</h2>
    <div class="icons-container">
      {% for item in site.data.icons %}
      <article>
        <div class="icon-container">
          <span class="icon {{ item.icon }}"></span>
        </div>
        <p class="p-xs">{{ item.text }}</p>  
      </article>
      {% endfor %}     
    </div>
  </main>  
<body>  