<!DOCTYPE html>
<html lang="{{ site.lang }}" class="basic-styles-and-components">
{% include basic-styles-and-components-head.html %}
</html>
<body>
  <header class="full-width ux-library-header">
    <h1 class="h-xxl">{{ page.heading | markdownify | remove: '<p>' | remove: '</p>' }}</h1>
  </header>
  <main>
    <section>
      <div class="full-width">
        <h2>{{ page.container-heading }}</h2>
      </div>
      <!-- Containers Horizontal -->
      <div class="boxed-width">
        <div class="containers-container">

          <!-- Containers Horizontal -->
          {% for placeholder-post in site.placeholder-posts %}
            {% if placeholder-post.tags contains 'horizontal' %}
            <div class="container container-horizontal">
              <figure>
                <img 
                  srcset="
                    {{ placeholder-post.image-xs }} 654w,
                    {{ placeholder-post.image-sm }} 704w,
                    {{ placeholder-post.image-lg }} 560w"
                  sizes="
                    (min-width: 1025px) 280px,
                    (min-width: 641px) 352px,
                    327px"
                  src="{{ placeholder-post.src }}"  
                  alt="{{ placeholder-post.thumbnail-alt }}"
                  loading="lazy">
              </figure>
              <div class="text-buttons">
                <div class="container-text">
                  <h1 class="container-heading">{{ placeholder-post.heading | markdownify | remove: '<p>' | remove: '</p>' }}</h1>
                  <p class="p-base">{{ placeholder-post.excerpt | markdownify | remove: '<p>' | remove: '</p>' }}</p>
                </div>
                <a href="{{ placeholder-post.permalink }}" class="button button-base">{{ placeholder-post.button-text }}</a>
              </div>
            </div>
            {% endif %}
          {% endfor %}

          <!-- Containers Vertical -->
          {% for placeholder-post in site.placeholder-posts %}
            {% if placeholder-post.tags contains 'vertical' %}
            <div class="container">
              <figure>
                <img 
                  srcset="
                    {{ placeholder-post.image-xs }} 654w,
                    {{ placeholder-post.image-sm }} 704w,
                    {{ placeholder-post.image-lg }} 560w"
                  sizes="
                    (min-width: 1025px) 280px,
                    (min-width: 641px) 352px,
                    327px"
                  src="{{ placeholder-post.src }}"  
                  alt="{{ placeholder-post.thumbnail-alt }}"
                  loading="lazy">
              </figure>
              <div class="text-buttons">
                <div class="container-text">
                  <h1 class="container-heading">{{ placeholder-post.heading | markdownify | remove: '<p>' | remove: '</p>' }}</h1>
                  <p class="p-base">{{ placeholder-post.excerpt | markdownify | remove: '<p>' | remove: '</p>' }}</p>
                </div>
                <a href="{{ placeholder-post.permalink }}" class="button button-base">{{ placeholder-post.button-text }}</a>
              </div>
            </div>
            {% endif %}
          {% endfor %}
        </div>
      </div>

      <!-- Containers Vertical -->
      <div class="boxed-width">
        <div class="cards-container">

          <!-- Cards Horizontal -->
          {% for placeholder-post in site.placeholder-posts %}
            {% if placeholder-post.tags contains 'horizontal' %}
              <a href="{{ placeholder-post.permalink }}" class="card card-horizontal">
                <figure>
                  <img 
                    srcset="
                      {{ placeholder-post.image-xs }} 654w,
                      {{ placeholder-post.image-sm }} 704w,
                      {{ placeholder-post.image-lg }} 560w"
                    sizes="
                      (min-width: 1025px) 280px,
                      (min-width: 641px) 352px,
                      327px"
                    src="{{ placeholder-post.src }}"  
                    alt="{{ placeholder-post.thumbnail-alt }}"
                    loading="lazy">
                </figure>
                <div class="card-text">
                  <h1 class="card-heading">{{ placeholder-post.heading | markdownify | remove: '<p>' | remove: '</p>' }}</h1>
                  <p class="p-base">{{ placeholder-post.excerpt | markdownify | remove: '<p>' | remove: '</p>' }}</p>
                </div>
              </a>
            {% endif %}
          {% endfor %}

          <!-- Cards Vertical -->
          {% for placeholder-post in site.placeholder-posts %}
            {% if placeholder-post.tags contains 'vertical' %}
            <div class="card">
              <figure>
                <img 
                  srcset="
                    {{ placeholder-post.image-xs }} 654w,
                    {{ placeholder-post.image-sm }} 704w,
                    {{ placeholder-post.image-lg }} 560w"
                  sizes="
                    (min-width: 1025px) 280px,
                    (min-width: 641px) 352px,
                    327px"
                  src="{{ placeholder-post.src }}"  
                  alt="{{ placeholder-post.thumbnail-alt }}"
                  loading="lazy">
              </figure>
              <div class="card-text">
                <h1 class="card-heading">{{ placeholder-post.heading | markdownify | remove: '<p>' | remove: '</p>' }}</h1>
                <p class="p-base">{{ placeholder-post.excerpt | markdownify | remove: '<p>' | remove: '</p>' }}</p>
              </div>
            </div>
            {% endif %}
          {% endfor %}
        </div>
      </div>

    </section> 
  </main>
  {% include basic-styles-and-components-footer.html %}   
<body> 