<!DOCTYPE html>
<html lang="{{ site.lang }}" class="basic-styles-and-components">
{% include basic-styles-and-components-head.html %}
</html>
<body>
  <header class="full-width ux-library-header">
    <h1 class="h-xxl">{{ page.heading | markdownify | remove: '<p>' | remove: '</p>' }}</h1>
  </header>
  <main>
    <div class="full-width">
      <h2>{{ page.nav-heading }}</h2>
    </div>
    <!-- Nav -->
    <div class="nav-container">
      <nav class="boxed-width">
        <ul class="nav-logo">
          {% for item in site.data.logo %}
          <li><a href="{{ item.url }}" target="{{ item.target }}"><span class="icon icon-{{ item.logo }}"></span></a></li>
          {% endfor %}
        </ul>
        <ul class="links-social-buttons-search">
          <li class="hidden-xs visible-sm visible-l">
            <ul class="nav-links">
            <!-- Links Data -->
            {% for item in site.data.main-nav-links %}
              <li><a href="{{ item.url }}" target="{{ item.target }}">{{ item.link-text }}</a></li>
            {% endfor %}
            </ul>
          </li>
          <li>
            <ul class="nav-social">
              {% for item in site.data.platform-links %}
                <li><a href="{{ item.url }}" target="{{ item.target }}"><span class="icon icon-{{ item.platform }}"></span></a></li>
              {% endfor %}
            </ul>  
          </li>
          <li class="hidden-xs hidden-sm ">
            <ul class="nav-buttons">
              <li><a href="#" class="button button-s">Button</a></li>
              <li><a href="#" class="button button-icon-right button-ghost button-s">Button<span class="icon icon-heart-fill"></span></a></li>
            </ul> 
          </li>
          <li>
            <ul class="search-toggle-navigation">
              <li class="search">
                <a href="#" class="icon icon-search"></a>
              </li>
              <li class="toggle-navigation visible-xs visible-m hidden-l">
                <a href="#" class="icon icon-hamburger-two"></a>
              </li>  
            </ul>
          </li>    
        </ul>  
      </nav>
    </div>  
  </main>
  {% include basic-styles-and-components-footer.html %}   
<body> 