<!DOCTYPE html>
<html lang="{{ site.lang }}" class="basic-styles-and-components">
{% include basic-styles-and-components-head.html %}
</html>
<body>
  <header class="full-width ux-library-header">
    <h1 class="h-xxl">{{ page.heading | markdownify | remove: '<p>' | remove: '</p>' }}</h1>
  </header>
  <main>
    <section>
      <div class="full-width">
        <h2>{{ page.containers-heading }}</h2>
      </div>
      <!-- Containers -->
      <div class="boxed-width">
        <div class="containers-container">

          <!-- Containers Horizontal -->
          {% for placeholder-post in site.placeholder-posts %}
            {% if placeholder-post.tags contains 'horizontal' %}
            <div class="container container-horizontal">
              <figure>
                <img 
                  srcset="
                    {{ placeholder-post.image-xs }} 654w,
                    {{ placeholder-post.image-sm }} 704w,
                    {{ placeholder-post.image-lg }} 560w"
                  sizes="
                    (min-width: 1025px) 280px,
                    (min-width: 641px) 352px,
                    327px"
                  src="{{ placeholder-post.src }}"  
                  alt="{{ placeholder-post.thumbnail-alt }}"
                  loading="lazy">
              </figure>
              <div class="text-buttons">
                <div class="container-text">
                  <h3 class="container-heading">{{ placeholder-post.heading | markdownify | remove: '<p>' | remove: '</p>' }}</h3>
                  <p class="p-s">{{ placeholder-post.excerpt | markdownify | remove: '<p>' | remove: '</p>' }}</p>
                </div>
                <a href="{{ placeholder-post.permalink }}" class="button button-base">{{ placeholder-post.button-text }}</a>
              </div>
            </div>
            {% endif %}
          {% endfor %}

          <!-- Containers Vertical -->
          {% for placeholder-post in site.placeholder-posts %}
            {% if placeholder-post.tags contains 'vertical' %}
            <div class="container">
              <figure>
                <img 
                  srcset="
                    {{ placeholder-post.image-xs }} 654w,
                    {{ placeholder-post.image-sm }} 704w,
                    {{ placeholder-post.image-lg }} 560w"
                  sizes="
                    (min-width: 1025px) 280px,
                    (min-width: 641px) 352px,
                    327px"
                  src="{{ placeholder-post.src }}"  
                  alt="{{ placeholder-post.thumbnail-alt }}"
                  loading="lazy">
              </figure>
              <div class="text-buttons">
                <div class="container-text">
                  <h3 class="container-heading">{{ placeholder-post.heading | markdownify | remove: '<p>' | remove: '</p>' }}</h3>
                  <p class="p-s">{{ placeholder-post.excerpt | markdownify | remove: '<p>' | remove: '</p>' }}</p>
                </div>
                <a href="{{ placeholder-post.permalink }}" class="button button-base">{{ placeholder-post.button-text }}</a>
              </div>
            </div>
            {% endif %}
          {% endfor %}
        </div>
      </div>

      <div class="full-width">
        <h2>{{ page.cards-heading }}</h2>
      </div>
      <!-- Cards -->
      <div class="boxed-width">
        <div class="cards-container">

          <!-- Cards Horizontal -->
          {% for placeholder-post in site.placeholder-posts %}
            {% if placeholder-post.tags contains 'horizontal' %}
              <a href="{{ placeholder-post.permalink }}" class="card card-horizontal">
                <figure>
                  <img 
                    srcset="
                      {{ placeholder-post.image-xs }} 654w,
                      {{ placeholder-post.image-sm }} 704w,
                      {{ placeholder-post.image-lg }} 560w"
                    sizes="
                      (min-width: 1025px) 280px,
                      (min-width: 641px) 352px,
                      327px"
                    src="{{ placeholder-post.src }}"  
                    alt="{{ placeholder-post.thumbnail-alt }}"
                    loading="lazy">
                </figure>
                <div class="card-text">
                  <h3 class="card-heading">{{ placeholder-post.heading | markdownify | remove: '<p>' | remove: '</p>' }}</h3>
                  <p class="p-s">{{ placeholder-post.excerpt | markdownify | remove: '<p>' | remove: '</p>' }}</p>
                </div>
              </a>
            {% endif %}
          {% endfor %}

          <!-- Cards Vertical -->
          {% for placeholder-post in site.placeholder-posts %}
            {% if placeholder-post.tags contains 'vertical' %}
            <a href="{{ placeholder-post.permalink }}" class="card">
              <figure>
                <img 
                  srcset="
                    {{ placeholder-post.image-xs }} 654w,
                    {{ placeholder-post.image-sm }} 704w,
                    {{ placeholder-post.image-lg }} 560w"
                  sizes="
                    (min-width: 1025px) 280px,
                    (min-width: 641px) 352px,
                    327px"
                  src="{{ placeholder-post.src }}"  
                  alt="{{ placeholder-post.thumbnail-alt }}"
                  loading="lazy">
              </figure>
              <div class="card-text">
                <h3 class="card-heading">{{ placeholder-post.heading | markdownify | remove: '<p>' | remove: '</p>' }}</h3>
                <p class="p-s">{{ placeholder-post.excerpt | markdownify | remove: '<p>' | remove: '</p>' }}</p>
              </div>
            </a>
            {% endif %}
          {% endfor %}
        </div>
      </div>
    </section>
    <section>
      <div class="full-width">
        <h2>{{ page.slideshow-heading }}</h2>
      </div>
      <div class="slideshow-container">

        <div class="boxed-width visible-xs hidden-sm hidden-lg">
          <!-- Slideshow -->
          <div class="slideshow" uk-slideshow="ratio: 1:1; animation:push; autoplay:true; autoplay-interval: 4000">
            <div class="slideshow-content" tabindex="-1">
              <div class="uk-slideshow-items">
                {% for item in site.data.slideshows-images %}
                <img 
                  srcset="
                    {{ item.image-xs }} 654w"
                  sizes="327px"
                  src="{{ item.image-xs }}"  
                  alt="{{ item.alt }}"
                  loading="lazy" uk-cover>
                {% endfor %}
              </div>
              <a class="uk-position-center-left prev" href uk-slidenav-previous uk-slideshow-item="previous"><span class="icon icon-prev"></span></a>
              <a class="uk-position-center-right next" href uk-slidenav-next uk-slideshow-item="next"><span class="icon icon-next"></span></a>
              <ul class="uk-slideshow-nav uk-dotnav"></ul>
            </div>  
          </div>
        </div>

        <div class="boxed-width hidden-xs visible-sm hidden-lg">
          <!-- Slideshow -->
          <div class="slideshow" uk-slideshow="ratio: 5:4; animation:push; autoplay:true; autoplay-interval: 4000">
            <div class="slideshow-content" tabindex="-1">
              <div class="uk-slideshow-items">
                {% for item in site.data.slideshows-images %}
                <img 
                  srcset="
                    {{ item.image-sm }} 1440w"
                  sizes="720px"
                  src="{{ item.image-xs }}"  
                  alt="{{ item.alt }}"
                  loading="lazy" uk-cover>
                {% endfor %}
              </div>
              <a class="uk-position-center-left prev" href uk-slidenav-previous uk-slideshow-item="previous"><span class="icon icon-prev"></span></a>
              <a class="uk-position-center-right next" href uk-slidenav-next uk-slideshow-item="next"><span class="icon icon-next"></span></a>
              <ul class="uk-slideshow-nav uk-dotnav"></ul>
            </div>  
          </div>
        </div>

        <div class="boxed-width hidden-xs hidden-sm visible-lg">
          <!-- Slideshow -->
          <div class="slideshow" uk-slideshow="ratio: 16:9; animation:push; autoplay:true; autoplay-interval: 4000">
            <div class="slideshow-content" tabindex="-1">
              <div class="uk-slideshow-items">
                {% for item in site.data.slideshows-images %}
                <img 
                  srcset="
                    {{ item.image-lg }} 1942w"
                  sizes="971px"
                  src="{{ item.image-lg }}"  
                  alt="{{ item.alt }}"
                  loading="lazy" uk-cover>
                {% endfor %}
              </div>
              <a class="uk-position-center-left prev" href uk-slidenav-previous uk-slideshow-item="previous"><span class="icon icon-prev"></span></a>
              <a class="uk-position-center-right next" href uk-slidenav-next uk-slideshow-item="next"><span class="icon icon-next"></span></a>
              <ul class="uk-slideshow-nav uk-dotnav"></ul>
            </div>  
          </div>
        </div> 

      </div>
    </section>

    <section>
      <div class="full-width">
        <h2>{{ page.paginator-heading }}</h2>
      </div>

      <div class="boxed-width paginator-container">

        <nav class="paginator">
          <ul>
            <li>
              <a href="{{ site.styles-and-components.first.permalink }}" class="paginator-first"><span class="icon icon-arrow-left"></span> First</a>
            </li>
            <li>
              {% if page.previous.url %}
              <a href="{{ page.previous.url }}" class="paginator-prev"><span class="icon icon-arrow-left"></span></a>
              {% endif %}
            </li>
            {% for styles-and-component in site.styles-and-components %}
            <li><a href="{{ styles-and-component.permalink }}">{{ forloop.index }}</a></li>
            {% endfor %}
            <li><a href="#" class="paginator-next"><span class="icon icon-arrow-right"></span></a></li>
            <li><a href="{{ site.styles-and-components.last.permalink }}" class="paginator-last">Last <span class="icon icon-arrow-right"></span></a></li>
          </ul>
        <nav>
      </div>
    </section> 
  </main>
  {% include basic-styles-and-components-footer.html %}   
<body> 