<!DOCTYPE html>
<html lang="{{ site.lang }}" class="basic-styles-and-components">
{% include basic-styles-and-components-head.html %}
</html>
<body>
  <header class="full-width ux-library-header">
    <h1 class="h-xxl">{{ page.heading | markdownify | remove: '<p>' | remove: '</p>' }}</h1>
  </header>
  <main>
    <section>
      <div class="full-width">
        <h2>{{ page.nav-heading }}</h2>
      </div>
      <!-- Nav -->
      <div class="nav-container">
        <nav class="boxed-width">
          <ul class="nav-logo">
            {% for item in site.data.logo %}
            <li><a href="{{ item.url }}" target="{{ item.target }}"><span class="icon icon-{{ item.logo }}"></span></a></li>
            {% endfor %}
          </ul>
          <ul class="links-social-buttons-search">
            <li class="hidden-xs visible-sm visible-lg">
              <ul class="nav-links">
              <!-- Links Data -->
              {% for item in site.data.main-nav-links %}
              <li>
                <a href="{{ item.url }}" target="{{ item.target }}">{{ item.link-text }}</a>
              </li>
              {% endfor %}
              </ul>
            </li>
            <li>
              <ul class="nav-platforms">
                {% for item in site.data.platform-links %}
                <li><a href="{{ item.url }}" target="{{ item.target }}" aria-label="{{ item.aria-label }}"><span class="icon icon-{{ item.platform }}"></span></a></li>
                {% endfor %}
              </ul>  
            </li>
            <li class="hidden-xs hidden-sm visible-lg">
              <ul class="nav-buttons">
                {% for item in site.data.main-nav-buttons %}
                <li><a href="{{ item.url }}" class="button {{ item.button-size }} {{ item.button-type }} {{ item.button-icon-position }}"><span class="{{ item.button-icon-left }}"></span>{{ item.button-text }}<span class="{{ item.button-icon-right }}"></span></a></li>
                {% endfor %}
              </ul> 
            </li>
            <li>
              <ul class="search-toggle-navigation">
                {% for item in site.data.search-button %}
                <li class="search">
                  <a href="#" class="icon {{ item.icon }}" aria-label="{{ item.aria-label }}"></a>
                </li>
                {% endfor %}
                {% for item in site.data.navigation-button %}
                <li class="toggle-navigation visible-xs visible-m hidden-l">
                  <a href="#modal-nav" uk-toggle class="icon {{ item.icon }}" aria-label="{{ item.aria-label }}"></a>
                </li>
                {% endfor %}  
              </ul>
            </li>    
          </ul>  
        </nav>
      </div>
    </section>
    <section>
      <div class="full-width">
        <h2>{{ page.header-background-heading }}</h2>
      </div>
      <!-- Header Background-->
      <header class="header-background">
        <div class="boxed-width header-content">
          <div class="header-text">
            {% for item in site.data.header-texts %}
            <h1 class="h-xxl">{{ item.heading }}</h1>
            <p class="p-base">{{ item.text }}</p>
            {% endfor %}
          </div>  
          <ul class="header-buttons">
            {% for item in site.data.header-buttons %}
            <li><a href="{{ item.url }}" class="button {{ item.button-size }} {{ item.button-type }} {{ item.button-icon-position }}"><span class="{{ item.button-icon-left }}"></span>{{ item.button-text }}<span class="{{ item.button-icon-right }}"></span></a></li>
            {% endfor %}
          </ul>  
        </div>
      </header>
    </section>
    <section>
      <div class="full-width">
        <h2>{{ page.header-two-columns-01-heading }}</h2>
      </div>
      <!-- Header Two Columns 01-->
      <header class="header-two-columns-01 full-width">
        <!-- Slideshow -->
        <div uk-slideshow="ratio: 1:1; animation:push; autoplay:true; autoplay-interval: 4000">
          <div class="slideshow-content" tabindex="-1">
            <div class="uk-slideshow-items">
              {% for item in site.data.header-two-columns-01-slideshow-images %}
              <img 
                srcset="
                  {{ item.image-xs }} 750w,
                  {{ item.image-sm }} 696w,
                  {{ item.image-lg }} 1048w"
                sizes="
                  (min-width: 1025px) 704px,
                  (min-width: 641px) 348px,
                  375px"
                src="{{ item.src }}"  
                alt="{{ item.alt }}"
                loading="lazy" uk-cover>
              {% endfor %}
            </div>
            <a class="uk-position-center-left prev" href uk-slidenav-previous uk-slideshow-item="previous"><span class="icon icon-prev"></span></a>
            <a class="uk-position-center-right next" href uk-slidenav-next uk-slideshow-item="next"><span class="icon icon-next"></span></a>
            <ul class="uk-slideshow-nav uk-dotnav"></ul>
          </div>  
        </div> 
        <!-- Text  -->
        <div class="header-content">
          <div class="header-text">
            {% for item in site.data.header-texts %}
            <h1 class="h-xxl">{{ item.heading }}</h1>
            <p class="p-base">{{ item.text }}</p>
            {% endfor %}
          </div>  
          <ul class="header-buttons">
            {% for item in site.data.header-buttons %}
            <li><a href="{{ item.url }}" class="button {{ item.button-size }} {{ item.button-type }} {{ item.button-icon-position }}" ><span class="{{ item.button-icon-left }}"></span>{{ item.button-text }}<span class="{{ item.button-icon-right }}"></span></a></li>
            {% endfor %}
          </ul>
        </div>
      </header>  
    </section>
    <section>
      <div class="full-width">
        <h2>{{ page.header-two-columns-02-heading }}</h2>
      </div>
      <!-- Header Two Columns 02 -->
      <header class="header-two-columns-02 boxed-width">
        <!-- Text  -->
        <div class="header-content">
          <div class="header-text">
            {% for item in site.data.header-texts %}
            <h1 class="h-xxl">{{ item.heading }}</h1>
            <p class="p-base">{{ item.text }}</p>
            {% endfor %}
          </div>  
          <ul class="header-buttons">
            {% for item in site.data.header-buttons %}
            <li><a href="{{ item.url }}" class="button {{ item.button-size }} {{ item.button-type }} {{ item.button-icon-position }}" ><span class="{{ item.button-icon-left }}"></span>{{ item.button-text }}<span class="{{ item.button-icon-right }}"></span></a></li>
            {% endfor %}
          </ul>
        </div>
        <!-- Slideshow -->
        <div class="slideshow" uk-slideshow="ratio: 1:1; animation:push; autoplay:true; autoplay-interval: 4000">
          <div class="slideshow-content" tabindex="-1">
            <div class="uk-slideshow-items">
              {% for item in site.data.header-two-columns-02-slideshow-images %}
              <img 
                srcset="
                  {{ item.image-xs }} 750w,
                  {{ item.image-sm }} 696w,
                  {{ item.image-lg }} 976w"
                sizes="
                  (min-width: 1025px) 488px,
                  (min-width: 641px) 348px,
                  375px"
                src="{{ item.src }}"  
                alt="{{ item.alt }}"
                loading="lazy" uk-cover>
              {% endfor %}
            </div>
            <a class="uk-position-center-left prev" href uk-slidenav-previous uk-slideshow-item="previous"><span class="icon icon-prev"></span></a>
            <a class="uk-position-center-right next" href uk-slidenav-next uk-slideshow-item="next"><span class="icon icon-next"></span></a>
            <ul class="uk-slideshow-nav uk-dotnav"></ul>
          </div>  
        </div> 
      </header>
      <div class="boxed-width paginator-container">

        <nav class="paginator">
          <ul>
            {% if page.url != site.styles-and-components.first.permalink %}
            <li>
              <a href="{{ site.styles-and-components.first.permalink }}" class="paginator-first"><span class="icon icon-arrow-left"></span> First</a>
            </li>
            {% endif %}
            {% if page.previous.url %}
            <li>
            <a href="{{ page.previous.url }}" class="paginator-prev"><span class="icon icon-arrow-left"></span></a>
            </li>
            {% endif %}
            {% for styles-and-component in site.styles-and-components %}
            <li><a class="{% if page.url == styles-and-component.permalink %} paginator-active {% endif %}" href="{{ styles-and-component.permalink }}">{{ forloop.index }}</a></li>
            {% endfor %}
            {% if page.next.url %}
            <li><a href="{{ page.next.url }}" class="paginator-next"><span class="icon icon-arrow-right"></span></a></li>
            {% endif %}
            {% if page.url != site.styles-and-components.last.permalink %}
            <li><a href="{{ site.styles-and-components.last.permalink }}" class="paginator-last">Last <span class="icon icon-arrow-right"></span></a>
            </li>
            {% endif %}
          </ul>
        <nav>
          
      </div> 
    </section>
  </main>
  {% include basic-styles-and-components-footer.html %}   
<body> 