<!DOCTYPE html>
<html lang="{{ site.lang }}" class="basic-styles-and-components">
{% include basic-styles-and-components-head.html %}
</html>
<body>
  <header class="full-width ux-library-header">
    <h1 class="h-xxl">{{ page.heading | markdownify | remove: '<p>' | remove: '</p>' }}</h1>
  </header>
  <main class="full-width typography-styles-container">
    <section>
      <h2>{{ page.headings-heading }}</h2>
      <div class="headings-container">
      {% for typography-heading-style in site.typography-heading-styles %}
        <article>
          <h3 class="article-heading">{{ typography-heading-style.heading }}</h3>
          {{ typography-heading-style.content | markdownify | remove: '<p>' | remove: '</p>' }} 
        </article> 
      {% endfor %}
      </div>
    </section>
    <section>  
      <h2>{{ page.paragraphs-heading }}</h2>
      <div class="paragraphs-container">
        {% for typography-paragraph-style in site.typography-paragraph-styles %}
          <article>
            <h3 class="article-heading">{{ typography-paragraph-style.heading }}</h3>
            {{ typography-paragraph-style.content | markdownify | remove: '<p>' | remove: '</p>' }} 
          </article> 
        {% endfor %}
      </div>
      <div class="paragraphs-container">  
        {% for typography-bold-paragraph-style in site.typography-bold-paragraph-styles %}
          <article>
            <h3 class="article-heading">{{ typography-bold-paragraph-style.heading }}</h3>
            {{ typography-bold-paragraph-style.content | markdownify | remove: '<p>' | remove: '</p>' }} 
          </article> 
        {% endfor %}
      </div>
    </section>      
  </main>
  {% include basic-styles-and-components-footer.html %}   
<body>  