* {
  box-sizing: border-box;
}

body{
	background-color: mintcream;
	font-family: "Jost", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  background-color: #B1E1D3;
  color: #333;
}

header, .container{
	background-color: #F8F8F2;
	margin: 0 auto;
	width: 50vw;
}

header{
	padding: 2rem 2rem 1.25rem 2rem;
	margin-top: 3rem;
	border-radius: 1rem 1rem 0 0;
}

.container{
	padding: 0 2rem 2rem 2rem;
	border-radius: 0 0 1rem 1rem;
	margin-bottom: 3rem;
}

h1{
	margin: 0;
	color: #F85C5C;
	font-weight: 600;
}

label, legend{
	font-weight: 500;
	display: block;
	margin-bottom: .5rem;
	font-size: 1.12rem;
	margin-right: .62em;
}

fieldset{
	border: none;
	padding: 0;
	margin: 1.5rem 0 1rem 0;
}

fieldset label{
	display: inline-block;
	font-weight: 400;
}

input[type="text"], input[type="email"], select, textarea{
	display: block;
	width: 100%;
	font-size: 1rem;
	padding: .75rem;
	margin-bottom: 1.25rem;
	border-radius: .5rem;
	border: 1px solid #333;
}

select{
	background-color: #fff;
	color: #333;
	font-family: "Jost", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

input:placeholder, textarea:placeholder{
	font-family: "Jost", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

textarea{
	font-family: "Jost", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

input:focus, textarea:focus{
	border-color: #F85C5C;
	outline: 2px solid #B5B59D;
}

input:invalid, select:invalid, textarea:invalid{
	border-color: red;
}

input:valid, select:valid, textarea:valid{
	border-color: green;
}

button{
	background-color: #0DA575;
	color: #fff;
	border: none;
	font-size: 1.12rem;
	cursor: pointer;
	font-weight: 600;
	padding: 1rem 2rem;
	border-radius: .5rem;
}

button:hover{
	background-color: #74D9B9;
}

input[type="radio"]{
	appearance: none;
	width: 1.2rem;
	height: 1.2rem;
	border: 2px solid #333;
	border-radius: 50%;
	outline: none;
	transition: border-color 0.2s;
	background-color: white;
	position: relative;
	top: .2rem;
}

.radio-group input[type="radio"]:checked{
	background-color: #0DA575;
	border-color: #0DA575;
	box-shadow: inset 0 0 0 3px white;
	padding: 2px;
}

.radio-group input[type="radio"]:checked + label{
	color: #0DA575;
}

input:first-of-type{
	background-color: #FDFDFD;
}
